<title>Searc sum of array</title>
<h1>Is Sum in Array ?</h1>
<p>Result is {{result}}</p>

<form action="compute" method="post">
    <textarea name="input1" rows="10" cols="30"></textarea>
    <textarea name="input2" rows="10" cols="30"></textarea>
    <textarea name="input3" rows="10" cols="30"></textarea>
    <textarea name="input4" rows="10" cols="30"></textarea>
    <br>
    <hr>
    <input type='submit'>
</form>


